body {
  margin: 0;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 1em;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: black;
  color: white;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.content {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: black;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.content p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #595959;
}
.content p:last-child {
  margin-bottom: 0;
}
.content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #595959;
  background: transparent;
  font-size: 1rem;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle {
  position: absolute;
  display: block;
  pointer-events: none;
}
.particle:nth-child(1) {
  top: 58%;
  left: 60%;
  font-size: 40px;
  filter: blur(0.02px);
  animation: 34s float2 infinite;
}
.particle:nth-child(2) {
  top: 94%;
  left: 47%;
  font-size: 45px;
  filter: blur(0.04px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(3) {
  top: 53%;
  left: 12%;
  font-size: 45px;
  filter: blur(0.06px);
  animation: 40s float2 infinite;
}
.particle:nth-child(4) {
  top: 77%;
  left: 62%;
  font-size: 50px;
  filter: blur(0.08px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(5) {
  top: 46%;
  left: 12%;
  font-size: 30px;
  filter: blur(0.1px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(6) {
  top: 86%;
  left: 24%;
  font-size: 20px;
  filter: blur(0.12px);
  animation: 23s floatReverse infinite;
}
.particle:nth-child(7) {
  top: 65%;
  left: 47%;
  font-size: 43px;
  filter: blur(0.14px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(8) {
  top: 70%;
  left: 9%;
  font-size: 20px;
  filter: blur(0.16px);
  animation: 34s float infinite;
}
.particle:nth-child(9) {
  top: 18%;
  left: 17%;
  font-size: 30px;
  filter: blur(0.18px);
  animation: 37s float2 infinite;
}
.particle:nth-child(10) {
  top: 24%;
  left: 42%;
  font-size: 22px;
  filter: blur(0.2px);
  animation: 22s floatReverse infinite;
}
.particle:nth-child(11) {
  top: 58%;
  left: 79%;
  font-size: 41px;
  filter: blur(0.22px);
  animation: 28s float2 infinite;
}
.particle:nth-child(12) {
  top: 68%;
  left: 89%;
  font-size: 20px;
  filter: blur(0.24px);
  animation: 30s float infinite;
}
.particle:nth-child(13) {
  top: 9%;
  left: 1%;
  font-size: 30px;
  filter: blur(0.26px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(14) {
  top: 43%;
  left: 6%;
  font-size: 40px;
  filter: blur(0.28px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(15) {
  top: 20%;
  left: 30%;
  font-size: 38px;
  filter: blur(0.3px);
  animation: 21s floatReverse infinite;
}
.particle:nth-child(16) {
  top: 60%;
  left: 96%;
  font-size: 43px;
  filter: blur(0.32px);
  animation: 23s float2 infinite;
}
.particle:nth-child(17) {
  top: 48%;
  left: 37%;
  font-size: 30px;
  filter: blur(0.34px);
  animation: 30s floatReverse infinite;
}
.particle:nth-child(18) {
  top: 79%;
  left: 55%;
  font-size: 45px;
  filter: blur(0.36px);
  animation: 30s float2 infinite;
}
.particle:nth-child(19) {
  top: 15%;
  left: 24.5338567223%;
  font-size: 32px;
  filter: blur(0.38px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(20) {
  top: 67%;
  left: 54%;
  font-size: 32px;
  filter: blur(0.4px);
  animation: 24s float infinite;
}
.particle:nth-child(21) {
  top: 89%;
  left: 58%;
  font-size: 40px;
  filter: blur(0.42px);
  animation: 25s floatReverse infinite;
}
.particle:nth-child(22) {
  top: 41%;
  left: 93%;
  font-size: 50px;
  filter: blur(0.44px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(23) {
  top: 24%;
  left: 50%;
  font-size: 30px;
  animation: 21s floatReverse infinite;
}
.particle:nth-child(24) {
  top: 64%;
  left: 13%;
  font-size: 40px;
  filter: blur(0.48px);
  animation: 24s float2 infinite;
}
.particle:nth-child(25) {
  top: 21%;
  left: 55%;
  font-size: 50px;
  filter: blur(0.5px);
  animation: 20s float2 infinite;
}
.particle:nth-child(26) {
  top: 95%;
  left: 38%;
  font-size: 25px;
  filter: blur(0.52px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(27) {
  top: 69%;
  left: 23%;
  font-size: 35px;
  filter: blur(1.54px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(28) {
  top: 24%;
  left: 65%;
  font-size: 45px;
  filter: blur(0.56px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(29) {
  top: 92%;
  left: 22%;
  font-size: 40px;
  filter: blur(0.58px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(30) {
  top: 85.%;
  left: 25%;
  font-size: 20px;
  filter: blur(0.6px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(31) {
  top: 26%;
  left: 9%;
  font-size: 27px;
  filter: blur(0.62px);
  animation: 29s float2 infinite;
}
.particle:nth-child(32) {
  top: 5%;
  left: 83%;
  font-size: 28px;
  filter: blur(0.64px);
  animation: 37s float2 infinite;
}
.particle:nth-child(33) {
  top: 38%;
  left: 61%;
  font-size: 32px;
  filter: blur(0.66px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(34) {
  top: 78%;
  left: 96%;
  font-size: 45px;
  filter: blur(0.68px);
  animation: 38s float infinite;
}
.particle:nth-child(35) {
  top: 58%;
  left: 27%;
  font-size: 23px;
  filter: blur(0.7px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(36) {
  top: 6%;
  left: 769%;
  font-size: 18px;
  filter: blur(0.72px);
  animation: 29s float2 infinite;
}
.particle:nth-child(37) {
  top: 76%;
  left: 68%;
  font-size: 11px;
  filter: blur(0.74px);
  animation: 24s floatReverse2 infinite;
}
.particle:nth-child(38) {
  top: 73%;
  left: 57%;
  font-size: 14px;
  filter: blur(0.76px);
  animation: 28s floatReverse infinite;
}
.particle:nth-child(39) {
  top: 11%;
  left: 13%;
  font-size: 14px;
  filter: blur(0.78px);
  animation: 31s float2 infinite;
}
.particle:nth-child(40) {
  top: 61%;
  left: 81%;
  font-size: 14px;
  filter: blur(0.8px);
  animation: 30s float2 infinite;
}
.particle:nth-child(41) {
  top: 30%;
  left: 52%;
  font-size: 19px;
  filter: blur(0.82px);
  animation: 40s float2 infinite;
}
.particle:nth-child(42) {
  top: 77%;
  left: 80%;
  font-size: 17px;
  filter: blur(0.84px);
  animation: 21s float infinite;
}
.particle:nth-child(43) {
  top: 35%;
  left: 47%;
  font-size: 27px;
  filter: blur(0.86px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(44) {
  top: 90%;
  left: 20%;
  font-size: 26px;
  filter: blur(0.88px);
  animation: 29s float2 infinite;
}
.particle:nth-child(45) {
  top: 96%;
  left: 83%;
  font-size: 45px;
  filter: blur(0.9px);
  animation: 22s float infinite;
}
.particle:nth-child(46) {
  top: 31%;
  left: 70%;
  font-size: 23px;
  filter: blur(0.92px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(47) {
  top: 67%;
  left: 75%;
  font-size: 45px;
  filter: blur(0.94px);
  animation: 28s floatReverse infinite;
}
.particle:nth-child(48) {
  top: 21%;
  left: 18%;
  font-size: 11px;
  filter: blur(0.96px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(49) {
  top: 8%;
  left: 25%;
  font-size: 22px;
  filter: blur(0.98px);
  animation: 40s float infinite;
}
.particle:nth-child(50) {
  top: 18%;
  left: 60%;
  font-size: 14px;
  filter: blur(1px);
  animation: 20s floatReverse infinite;
}
.particle:nth-child(51) {
  top: 31%;
  left: 31%;
  font-size: 45px;
  filter: blur(1.02px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(52) {
  top: 46%;
  left: 87%;
  font-size: 43px;
  filter: blur(1.04px);
  animation: 30s floatReverse2 infinite;
}
.particle:nth-child(53) {
  top: 21%;
  left: 56%;
  font-size: 20px;
  filter: blur(1.06px);
  animation: 25s floatReverse2 infinite;
}
.particle:nth-child(54) {
  top: 6%;
  left: 36%;
  font-size: 16px;
  filter: blur(1.08px);
  animation: 20s float2 infinite;
}
.particle:nth-child(55) {
  top: 11%;
  left: 83%;
  font-size: 22px;
  filter: blur(1.1px);
  animation: 30s float infinite;
}
.particle:nth-child(56) {
  top: 95%;
  left: 76%;
  font-size: 19px;
  filter: blur(1.12px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(57) {
  top: 29%;
  left: 55%;
  font-size: 11px;
  filter: blur(1.14px);
  animation: 20s float2 infinite;
}
.particle:nth-child(58) {
  top: 89%;
  left: 21%;
  font-size: 50px;
  filter: blur(1.16px);
  animation: 20s float infinite;
}
.particle:nth-child(59) {
  top: 40%;
  left: 24.3902439024%;
  font-size: 25px;
  filter: blur(1.18px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(60) {
  top: 97%;
  left: 78%;
  font-size: 20px;
  filter: blur(1.2px);
  animation: 27s float2 infinite;
}
.particle:nth-child(61) {
  top: 4%;
  left: 32%;
  font-size: 17px;
  filter: blur(1.22px);
  animation: 24s float infinite;
}
.particle:nth-child(62) {
  top: 37%;
  left: 78%;
  font-size: 24px;
  filter: blur(1.24px);
  animation: 24s float infinite;
}
.particle:nth-child(63) {
  top: 8%;
  left: 28%;
  font-size: 45px;
  animation: 23s float infinite;
}
.particle:nth-child(64) {
  top: 31%;
  left: 48%;
  font-size: 18px;
  filter: blur(1.28px);
  animation: 34s float2 infinite;
}
.particle:nth-child(65) {
  top: 92%;
  left: 74%;
  font-size: 12px;
  filter: blur(1.3px);
  animation: 37s float infinite;
}
.particle:nth-child(66) {
  top: 60%;
  left: 37%;
  font-size: 20px;
  filter: blur(1.32px);
  animation: 37s float infinite;
}
.particle:nth-child(67) {
  top: 37%;
  left: 91%;
  font-size: 52px;
  filter: blur(1.34px);
  animation: 28s float infinite;
}
.particle:nth-child(68) {
  top: 8%;
  left: 19%;
  font-size: 22px;
  filter: blur(1.36px);
  animation: 35s float infinite;
}
.particle:nth-child(69) {
  top: 12%;
  left: 60%;
  font-size: 23px;
  filter: blur(1.38px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(70) {
  top: 12%;
  left: 89%;
  font-size: 17px;
  filter: blur(1.4px);
  animation: 39s floatReverse2 infinite;
}
.particle:nth-child(71) {
  top: 13%;
  left: 49%;
  font-size: 15px;
  filter: blur(1.42px);
  animation: 22s float infinite;
}
.particle:nth-child(72) {
  top: 43%;
  left: 70%;
  font-size: 50px;
  filter: blur(1.44px);
  animation: 36s float infinite;
}
.particle:nth-child(73) {
  top: 52%;
  left: 32%;
  font-size: 19px;
  filter: blur(1.46px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(74) {
  top: 15%;
  left: 58%;
  font-size: 50px;
  filter: blur(1.48px);
  animation: 27s float infinite;
}
.particle:nth-child(75) {
  top: 22%;
  left: 93%;
  font-size: 24px;
  filter: blur(1.5px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(76) {
  top: 36%;
  left: 89%;
  font-size: 19px;
  filter: blur(1.52px);
  animation: 31s floatReverse infinite;
}
.particle:nth-child(77) {
  top: 69%;
  left: 28%;
  font-size: 23px;
  filter: blur(1.54px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(78) {
  top: 20%;
  left: 73.786407767%;
  font-size: 55px;
  filter: blur(1.56px);
  animation: 22s floatReverse infinite;
}
.particle:nth-child(79) {
  top: 56%;
  left: 75%;
  font-size: 18px;
  filter: blur(1.58px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(80) {
  top: 8%;
  left: 19%;
  font-size: 11px;
  filter: blur(1.6px);
  animation: 39s floatReverse2 infinite;
}


@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}

.exit-img {
  background-image: url('../img/exit-img.svg');
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  top:5%;
  left: 93%;
  cursor: pointer;

}